<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block title %}<title>Default Title</title>{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
        
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0"  href="#">
                    <h5>E_cart</h5>
                </a>
                <!-- Left links -->
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: small; font-weight: bold;">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product' %}">Products</a>
                    </li>
                    <li class="nav-item">                      
                        <a class="nav-link" href="{% url 'customer' %}">
                            <span class="text-dark">Hello, Guest</span>
                            <span class="ms-2">Accounts</span>
                        </a>                    
                    </li>
                </ul>
            </div>
        
            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <a class="text-reset me-3" href="#">
                    <i class="fas fa-shopping-cart fs-4"></i>
                </a>
            </div>
        </div>
    </nav>
    
    <!-- Content block -->
    {% block content %}
    <div class="container">
        <h2>Default content</h2>
    </div>
    {% endblock %}
</body>
</html>
