{% extends 'base.html' %}
{% load static %}
{% block content%}

    <!-- Cart items details -->
    <div class="small-container cart-page">
        {% if cart_items %}
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for item in cart_items %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ item.product.img.url }}">
                        <div>
                            <p>{{ item.product.title }}</p>
                            <small>Price:{{item.product.price}}</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" disabled value="{{ item.quantity }}"></td>
                <td>{{ item.product.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>{{item.product.subtotal}}</td> 
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{item.product.total_price}}</td>
                </tr>
            </table>
        </div>
        <a href="#" class="btn">Proceed to Checkout</a>
        {% else %}
        <p>Your cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}

