{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Cart items details -->
<div class="small-container cart-page">
    {% if all_orders %}
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in all_orders %}
            <tr>
                <td>OID{{ order.id }}</td>
                <td>{{ order.created_at|date:"F j, Y" }}</td>
                <td>${{ order.total_price }}</td>
                <td>{{ order.get_order_status_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center; color: green;">No orders found.</p>
    {% endif %}
</div>

{% endblock %}
