{% extends 'base.html' %}
{% load static %}
{% block content%}
    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{product.img.url}}" width="100%" id="ProductImg">

            </div>
            <div class="col-2">
                <p>{{product.title}}</p>
                <h1>{{product.title}}</h1>
                <h4>{{product.price}}</h4>

                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn">Add To Cart</button>
                    </form>
                {% else %} 
                    <div class="container" style="padding: 10px; border-radius: 5px; text-align: center; background-color: rgb(209, 203, 203);">
                        <p>Please <a href="{% url 'show_accounts' %}" style="color: black;">LOGIN</a> or <a href="{% url 'show_accounts' %}" style="color: black;">REGISTER</a> to add this product to your cart</p>
                    </div>
                    <form action="{% url 'show_accounts' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn">Add To Cart</button>
                    </form>
                {% endif %}

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{product.content}}</p> 
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Our Latest Products</h2>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            {% for latest_product in latest_products %}
            <div class="col-4">
                <a href="{% url 'product_details' latest_product.id %}"><img src="{{latest_product.img.url}}"></a>
                <h4>{{latest_product.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>{{latest_product.price}}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg");
        var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function () {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function () {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function () {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function () {
            ProductImg.src = SmallImg[3].src;
        }

    </script>
{% endblock %}